.navbar {
    a.navbar-brand {
        padding: 1rem;
        margin-bottom: 0;
    }
}

.container.add-post {
    margin-top: 2rem;
    margin-bottom: 4rem;
    margin-right: 10vw;
    margin-left: 10vw;
}
