.navbar {
    a.navbar-brand {
        padding: 1rem;
        margin-bottom: 0;
    }
}

.container.add-post {
    margin-top: 2rem;
    margin-bottom: 4rem;

}
.submitBtn {
    background-color: rgba(240, 46, 169, 0.63);
    margin-top: 1em;
    font-family: 'Poppins', sans-serif;
}