@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,200&display=swap');

body{
    background-color: #ececec42;
}

.logotext {
    color:#000000;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 50px;
}

.color-nav {
    background-color:rgba(105, 128, 255, 0.241);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    margin-bottom: 20px;
}

.logo{
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-left: 50px;
}

.text-col-title {
    font-size: large;
    font-family: 'Poppins', sans-serif;
    margin-right: 10px;
    text-decoration: none;
}

.text-col {
    font-size: medium;
    font-family: 'Poppins', sans-serif;
    font-size: 1.75em;
    margin-right: 1em;
    text-decoration: none;
}

.text-col-logo {
    margin-right: 10px;
    
}

.row.view-row {
    justify-content: center;
}



//Card styling
.card-body{
    background-color: #303bdb37;
    max-height: 200px;
    border-radius: 5px;
    margin-bottom: 7px;

}

.cardContainer {
    border-radius: 5px;

}
.mainCardContainer {
    width: 320px;
}

.cardImage {
    border-radius: 5px;
    max-height: 350px;
    width: 350px;
    max-width: 100%;
}

.postCard {
    background-color: #ffffff;
    width: 24rem; 
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #ccc;
}

.cardTitle {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 10px;
    text-align: center;
    color: #3d3d3d;
    // color: #000;

    
}

.cardUserName {
    
    font-style: italic;
    font-weight: 200;
    color: rgba(127, 23, 127, 0.335);
}

.cardText {
    padding: 10px;
    background-color: rgba(105, 128, 255, 0.241);
    color: rgb(25, 25, 25);
}



//Like Button styling

.likeButton {
    background-color: #f0f0f0;
    border-color: rgba(44, 37, 251, 0.6);
    border-width: 0.15em;
    margin: 0.5em;
    align-items: center;
}

.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
  }

// Submit Button styling

.btn-primary {
    --bs-btn-color: #000000;
    --bs-btn-bg: rgba(105, 128, 255, 0.241);
    --bs-btn-border-color: rgb(0, 22, 147);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgba(44, 37, 251, 0.45);
    --bs-btn-hover-border-color: #000000;
    --bs-btn-focus-shadow-rgb: 49,132,253;

    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

}


.imageContainer {
    padding: 1em;
    object-fit: cover;
    
}